asgiref==3.5.2
certifi==2023.5.7
charset-normalizer==3.1.0
dateparser==1.1.8
Django==4.1
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
filelock==3.12.0
gunicorn==21.0.1
idna==3.4
newscatcherapi==0.7.2
packaging==23.1
Pillow==9.4.0
pip==23.1.2
psycopg==3.1.9
psycopg2==2.9.6
python-dateutil==2.8.2
pytz==2023.3
regex==2023.5.5
requests==2.30.0
requests-file==1.5.1
setuptools==67.8.0
six==1.16.0
sqlparse==0.4.3
tldextract==3.4.1
typing_extensions==4.5.0
tzdata==2021.1
tzlocal==5.0
urllib3==2.0.2
wheel==0.38.4
whitenoise==6.4.0