
{% extends 'page/base.html' %}
{% block main %}
<div class="flex flex-row">
    <div class="h-screen overflow-hidden
    border-4 border-black
    shadow-md shadow-black
    ">
        <img src="{{ art.image.url }}" class="object-cover w-full h-full"> </img>
    </div>
    <div class="p-2 w-6/12">
        {% if art.title != None %}
            <h1 class="text-2xl font-bold text-white"> {{ art.title }} </h1>
        {% endif %}
        <p class="text-gray-400 font-serif text-justify"> {{ art.description }} </p>
    </div>
</div>
{% endblock main %}

