
<div class="photo-grid m-5">
    {% for art in arts %}
    <div class="flex flex-col justify-center items-center bg-primary
    text-2xl text-[#FFFFFF] h-full w-full rounded-md
    transition-all duration-200 overflow-hidden bg-cover bg-center
    shadow-md shadow-black hover:shadow-2xl cursor-pointer hover:scale-100
    border-4 border-black
  hover:shadow-black bg-no-repeat"
    onclick="window.location.href='{% url 'details' art_id=art.id %}' "
    style="background-image: url({{ art.image.url }});">

        {% if art.user != None %}
        {% comment %}
        <div class="text-lg text-white px-2 m-2 ml-auto border bg-black rounded-md">
            <a href="{% url 'user' user_id=art.user.id %}" class="text-white hover:underline"> @{{ art.user }} </a>
        </div>
        {% endcomment %}

        <div class="text-sm text-white bg-gradient-to-t from-black to-gray-500 rounded-full shadow-md
        hover:bg-black duration-200
        shadow-black m-2 px-2 ml-auto">
            <a href="{% url 'user' user_id=art.user.id %}"> @{{ art.user }}</a>
        </div>

        {% endif %}

        <div class="flex flex-row justify-end items-center mt-auto">
            <div class="flex flex-row items-center m-2 px-2">
                <a href="{% url 'like_art' art_id=art.id %}" class="font-mono hover:scale-125 transition-all duration-100">
                {% if user.is_authenticated %}
                    {% if user in art.likes.all %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-8 h-8 fill-[#FF0045]">
                        <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-8 h-8 fill-white">
                        <path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/>
                    </svg>
                    {% endif %}
                {% endif %}
                </a>
                <p class="text-sm font-mono m-2 px-2"> {{ art.likes.count }} </p>
            </div>

            <!-- Art Title -->
            {% if art.title != None %}
            <div class="text-sm font-serif text-white text-justify m-1 px-3">
                <p> {{ art.title }} </p>
            </div>
            {% endif %}

            <!-- Link to Details Page -->
            {% comment %}
            <a href={% url 'details' art_id=art.id %}>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                </svg>
            </a>
            {% endcomment %}

            <!-- Edit and Delete -->
            {% if user.username in art.user.username %}
            <a href={% url 'edit' art_id=art.id %} class="m-2 pl-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>
            </a>

            <a href={% url 'delete' art_id=art.id %} class="m-2 pl-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 fill-red-600 stroke-black">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
            </a>
            {% endif %}

        </div>

    </div>
    {% endfor %}
</div>





