
{% extends 'page/base.html' %}
{% load widget_tweaks %}
{% block main %}
<div class="bg-primary m-1 ml-4">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.image|add_class:"bg-primary border border-white text-white rounded-md w-1/3 m-1 my-4 p-2 focus:outline-none focus:border-blue-800" }}
        </div>
        <div>
            {{ form.title|add_class:"bg-primary border border-white text-white rounded-md w-1/3 m-1 my-4 p-2 focus:outline-none focus:border-[#FF0045]" }}
        </div>
        <div>
            {{ form.description|add_class:"bg-primary border border-white text-white rounded-md w-1/3 m-1 my-4 p-2 focus:outline-none focus:border-[#FF0045]" }}
        </div>
        <input type="submit" value="Upload" class="border-2 border-white text-white focus:outline-none focus:border-cyan-400 rounded-md cursor-pointer m-1 p-1 px-4">
    </form>
</div>
{% endblock main %}



